<html>
  <head>
    <title>CSS Positions - Relative</title>
    <style>
      div {
        padding: 5px;
        color: red;
        border: 2px solid blue;
        border-radius: 10px;
        width: 90%;
      }

      .relative {
        position: relative;
        left: 30px;
      }

      .container2 {
        position: relative;
        left: 30px;
      }
    </style>
  </head>

  <body>
    <h2>Position :- RELATIVE</h2>
    <div class="relative">
      This is external DIV : RELATIVE
      <div class="container2">
        div.container2
        <!-- <div class="container3">div.container3</div> -->
      </div>
      <!-- <div class="container4">div.container4</div> -->
    </div>
  </body>
</html>
