<html>
  <head>
    <title>CSS Positions- STICKY !</title>
    <style>
      div,
      h3 {
        padding: 15px;
        color: green;
        border: 2px solid blue;
        border-radius: 10px;
      }

      h3 {
        background-color: aquamarine;
        position: sticky;
        top: 0;
      }
    </style>
  </head>
  <body>
    <h3>CSS Positions - STICKY</h3>
    <div id="fixedDiv">
      David Warner likes this bowling unit. Averages 45 against Jason Holder and
      has a strike-rate of 150 against Krunal Pandya. If Warner gets a fifty, he
      will become the man with the most T20 fifties, he is currently tied on 89
      with Chris Gayle. What's most impressive for Warner has been his
      strike-rate. With Prithvi Shaw as partner, there could've been some
      temptation for him to rein his shots in, but in his last four games his
      lowest strike-rate has been 162. Two of them have been 200! Against pacers
      especially in the powerplay, he has gotten a boundary once every 3.7
      deliveries. His strike-rate of 173 in the first 10 balls of an innings in
      IPL 2022 is the highest he has ever had in his IPL career. His second-best
      numbers came in 2009 (150) and 2010 (145) and that was a time he was just
      beginning to bloom. However, Warner does struggle against Ravi Bishnoi
      (out three times to googlies) in the IPL. Will KL Rahul take the gamble
      and bring his wristspinner early? As for Prithvi Shaw, he is doing just
      what the team needs from him. He's made 37+ five times this season, and
      the Capitals wouldn't mind him getting out while being positive. However,
      he starts off this innings with just 1 run in his first five balls as
      Mohsin Khan takes the new ball. David Warner likes this bowling unit.
      Averages 45 against Jason Holder and has a strike-rate of 150 against
      Krunal Pandya. If Warner gets a fifty, he will become the man with the
      most T20 fifties, he is currently tied on 89 with Chris Gayle. What's most
      impressive for Warner has been his strike-rate. With Prithvi Shaw as
      partner, there could've been some temptation for him to rein his shots in,
      but in his last four games his lowest strike-rate has been 162. Two of
      them have been 200! Against pacers especially in the powerplay, he has
      gotten a boundary once every 3.7 deliveries. His strike-rate of 173 in the
      first 10 balls of an innings in IPL 2022 is the highest he has ever had in
      his IPL career. His second-best numbers came in 2009 (150) and 2010 (145)
      and that was a time he was just beginning to bloom. However, Warner does
      struggle against Ravi Bishnoi (out three times to googlies) in the IPL.
      Will KL Rahul take the gamble and bring his wristspinner early? As for
      Prithvi Shaw, he is doing just what the team needs from him. He's made 37+
      five times this season, and the Capitals wouldn't mind him getting out
      while being positive. However, he starts off this innings with just 1 run
      in his first five balls as Mohsin Khan takes the new ball. David Warner
      likes this bowling unit. Averages 45 against Jason Holder and has a
      strike-rate of 150 against Krunal Pandya. If Warner gets a fifty, he will
      become the man with the most T20 fifties, he is currently tied on 89 with
      Chris Gayle. What's most impressive for Warner has been his strike-rate.
      With Prithvi Shaw as partner, there could've been some temptation for him
      to rein his shots in, but in his last four games his lowest strike-rate
      has been 162. Two of them have been 200! Against pacers especially in the
      powerplay, he has gotten a boundary once every 3.7 deliveries. His
      strike-rate of 173 in the first 10 balls of an innings in IPL 2022 is the
      highest he has ever had in his IPL career. His second-best numbers came in
      2009 (150) and 2010 (145) and that was a time he was just beginning to
      bloom. However, Warner does struggle against Ravi Bishnoi (out three times
      to googlies) in the IPL. Will KL Rahul take the gamble and bring his
      wristspinner early? As for Prithvi Shaw, he is doing just what the team
      needs from him. He's made 37+ five times this season, and the Capitals
      wouldn't mind him getting out while being positive. However, he starts off
      this innings with just 1 run in his first five balls as Mohsin Khan takes
      the new ball. David Warner likes this bowling unit. Averages 45 against
      Jason Holder and has a strike-rate of 150 against Krunal Pandya. If Warner
      gets a fifty, he will become the man with the most T20 fifties, he is
      currently tied on 89 with Chris Gayle. What's most impressive for Warner
      has been his strike-rate. With Prithvi Shaw as partner, there could've
      been some temptation for him to rein his shots in, but in his last four
      games his lowest strike-rate has been 162. Two of them have been 200!
      Against pacers especially in the powerplay, he has gotten a boundary once
      every 3.7 deliveries. His strike-rate of 173 in the first 10 balls of an
      innings in IPL 2022 is the highest he has ever had in his IPL career. His
      second-best numbers came in 2009 (150) and 2010 (145) and that was a time
      he was just beginning to bloom. However, Warner does struggle against Ravi
      Bishnoi (out three times to googlies) in the IPL. Will KL Rahul take the
      gamble and bring his wristspinner early? As for Prithvi Shaw, he is doing
      just what the team needs from him. He's made 37+ five times this season,
      and the Capitals wouldn't mind him getting out while being positive.
      However, he starts off this innings with just 1 run in his first five
      balls as Mohsin Khan takes the new ball. David Warner likes this bowling
      unit. Averages 45 against Jason Holder and has a strike-rate of 150
      against Krunal Pandya. If Warner gets a fifty, he will become the man with
      the most T20 fifties, he is currently tied on 89 with Chris Gayle. What's
      most impressive for Warner has been his strike-rate. With Prithvi Shaw as
      partner, there could've been some temptation for him to rein his shots in,
      but in his last four games his lowest strike-rate has been 162. Two of
      them have been 200! Against pacers especially in the powerplay, he has
      gotten a boundary once every 3.7 deliveries. His strike-rate of 173 in the
      first 10 balls of an innings in IPL 2022 is the highest he has ever had in
      his IPL career. His second-best numbers came in 2009 (150) and 2010 (145)
      and that was a time he was just beginning to bloom. However, Warner does
      struggle against Ravi Bishnoi (out three times to googlies) in the IPL.
      Will KL Rahul take the gamble and bring his wristspinner early? As for
      Prithvi Shaw, he is doing just what the team needs from him. He's made 37+
      five times this season, and the Capitals wouldn't mind him getting out
      while being positive. However, he starts off this innings with just 1 run
      in his first five balls as Mohsin Khan takes the new ball. David Warner
      likes this bowling unit. Averages 45 against Jason Holder and has a
      strike-rate of 150 against Krunal Pandya. If Warner gets a fifty, he will
      become the man with the most T20 fifties, he is currently tied on 89 with
      Chris Gayle. What's most impressive for Warner has been his strike-rate.
      With Prithvi Shaw as partner, there could've been some temptation for him
      to rein his shots in, but in his last four games his lowest strike-rate
      has been 162. Two of them have been 200! Against pacers especially in the
      powerplay, he has gotten a boundary once every 3.7 deliveries. His
      strike-rate of 173 in the first 10 balls of an innings in IPL 2022 is the
      highest he has ever had in his IPL career. His second-best numbers came in
      2009 (150) and 2010 (145) and that was a time he was just beginning to
      bloom. However, Warner does struggle against Ravi Bishnoi (out three times
      to googlies) in the IPL. Will KL Rahul take the gamble and bring his
      wristspinner early? As for Prithvi Shaw, he is doing just what the team
      needs from him. He's made 37+ five times this season, and the Capitals
      wouldn't mind him getting out while being positive. However, he starts off
      this innings with just 1 run in his first five balls as Mohsin Khan takes
      the new ball.
    </div>
  </body>
</html>
